.Heading1 {
    position: relative;
    /* margin-top: 10px; */
}

.container-fluid {
    background-color: rgb(236, 240, 16);
    padding: 1%;
    width: 99%;
    position: relative;
}

.navbarHeading {
    color: green;
    /* background-color: black; */
    text-decoration: unset;
}

.offcanvas-body {
    background-color: rgb(137, 241, 137);
}

.offcanvas-header {
    background-color: rgb(89, 87, 241);
}

#navbarDropdown {
    position: relative;
    ;
}

.nav-item:hover {
    background-color: rgb(39, 219, 33);
}